.container-pokemon-card{
  border: 2px solid #fff;
  border-radius: 5px;
  width: 85%;
  height: 6rem;
  display: flex;
  position: relative;
  box-shadow: 1px 1px 6px .5px #000;
}
.container-pokemon-info{
  width: 70%;
  height: 100%;
}
/*estillos de la pokermon Card la info*/
.pokemon-info-number{
  width: 85%;
  /* opacity: .6; */
  font-weight: bold;
  font-size: 10px;
  color: #e9e8e8;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;

}
.iconFavorite{
  font-size: 15px;
  color: #fff;
}
.pokemon-info-name{
  color: #fff;
  font-size: 30px;
  font-weight: bold ;
  padding-left: 10px;
}
.pokemon-info-data-types{
  padding-left: 10px;
  width: 100%;
  display: flex;
  gap: 0px 10px;
  color: #fff;
  font-weight: bolder;
  pointer-events: none;
}
.active{
  font-size: 15px;
  color: #f00;
}